In [2]:
list = []

print(list)

print(type(list))

[]
<class 'list'>

In [1]:
# blank list
L1 = []

# list of integers
L2 = [10, 20, 30]

# List of heterogenous data types
L3 = [1, "Hello", 3.4]

print(L1, L2, L3)

[] [10, 20, 30] [1, 'Hello', 3.4]

In [3]:
theList = list([n1, n2, ...] or [n1, n2, [x1, x2, ...]])

NameError: name 'n1' is not defined

In [11]:
theList = [iter for iter in range(5)]
print(theList)

[0, 1, 2, 3, 4]

In [10]:
# theList = list([1,2,3]) not working in notebook

TypeError: 'list' object is not callable

In [16]:
listofCountries = ["India","America","England","Germany","Brazil","Vietnam"]
lettes = ["I", "A"]
firstLetters = [ country[0] for country in listofCountries ]

#get the list of countries
#iterate over the list using the for loop
#read each element of the list, e.g. firt element would be India
#country = India
#Get the first element of the string, country which I
#store this value inside the list firstletters
print(firstLetters)
print(listofCountries[0])

['I', 'A', 'E', 'G', 'B', 'V']
India

In [25]:
# char = "India"
# lettersfromcountry = [char for char in country]
for char in country: "INDIA"
print(char)

a

In [20]:
# Creating a list 

D1, D2, D3 = "Yong San", 19, "February"
L1 = [D1, D2, D3]
print(type(L1), L1)
D2 = 20
print(D2)
print(L1)

<class 'list'> ['Yong San', 19, 'February']
20
['Yong San', 19, 'February']

In [21]:
init_list = [0]*3

In [26]:
list1 = [1,2]
list2 = [3,2]
#list1+list2
list1=list1+list2
print(list1)
print(list2)

[1, 2, 3, 2]
[3, 2]

In [27]:
list1.extend(list2)
print(list1)

[1, 2, 3, 2, 3, 2]

In [31]:
list3=[0,0]
list1.append(list3)
list1

[1, 2, 3, 2, 3, 2, [0, 0], [0, 0], [0, 0], [0, 0]]

In [32]:
list1[4]

3

In [35]:
listofnumbers = [1,2,3,4,5,0]
print(listofnumbers[1])
print(listofnumbers[4])

2
5

In [36]:
vowels = ['a','e','i','o','u']
print(vowels[-1])
print(vowels[-2])

u
o

In [41]:
testlist = [1,2,[1,2,3]]
testlist [2][1]

2

In [42]:
newtestlist = testlist[1:2]
newtestlist

[2]

In [43]:
theList = [55,66]
print(theList)

[55, 66]

In [44]:
a = [1,2,3,4,5] 
a[0:4:2]

[1, 3]

In [46]:
lst = [4, 2, 9, 1]
insert[2, 3]

NameError: name 'insert' is not defined

In [47]:
for i in [1, 2, 3, 4, 5]:
    print ("hello")

hello
hello
hello
hello
hello

In [54]:
for looper in [1, 2, 3, 4]:
    print (looper, "times 8 =", looper * 8)

1 times 8 = 8
2 times 8 = 16
3 times 8 = 24
4 times 8 = 32

In [68]:
for i in range(1, 6, 5):
    print ('Hi, Warren')

Hi, Warren

In [58]:

for i in range (6):
    print ('i =', i) 
    print ('Hello!', end = " ")   # Note: end = '' appends space instead of new line
    if i == 3: 
        print()
        continue 
    print ('How are you')

i = 0
Hello! How are you
i = 1
Hello! How are you
i = 2
Hello! How are you
i = 3
Hello!
i = 4
Hello! How are you
i = 5
Hello! How are you

In [59]:
nums = [10, 30, 20, 40]

for k in range(1, 4):    
    print(nums[k])

30
20
40

In [60]:
for lst = [4, 2, 9, 1]
lst.insert(2, 3)

SyntaxError: invalid syntax (<ipython-input-60-ba62588cee67>, line 1)